{{define "head"}}

<head>
	<title>Video Capture and Tweet</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	<link href="dependencies/normalize.css" rel="stylesheet" type="text/css" />
	<link href="dependencies/skeleton.css" rel="stylesheet" type="text/css" />
	<link href="dependencies/sweetalert.css" rel="stylesheet" type="text/css" />
	<link href="dependencies/spinkit.css" rel="stylesheet" type="text/css" />
	<link href="dependencies/toggle.css" rel="stylesheet" type="text/css" />
	<link href="styles/main.css" rel="stylesheet" type="text/css" />

	<script src="dependencies/sweetalert.min.js"></script>
	<script src="scripts/main.js"></script>
</head>

{{end}}
